.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame {
  width: 200px;
  height: auto;
  overflow: hidden;
}

.box-container {
  display: flex;
}

.box {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  background: #999999;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 4px;
  user-select: none;
  cursor: pointer;
}

.button-2-container {
  display: flex;
}

.button-2 {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #E0E0E0;
  margin: 6px;
  cursor: pointer;
}

.active {
  background: #999;
}