.fullRowDiv {
  border-color: black;
  background: #e8e8e8;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  padding: 20px;
  opacity: 1;
}

.mainGreyDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #e8e8e8;
  border-color: black;
  font-weight: lighter;
  opacity: 1;
}

.mainGreyDiv:hover {
  opacity: 0.5;
}

.workDetails {
  display: flex;
  flex: 1;
  background: white;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden; /* Add this line to hide overflowing content */
  max-height: 0; /* Add this line to control initial height */
  transition: max-height 1s ease;
  justify-content: center;
  align-items: center;
}

.workDetails.expanded {
  max-height: 1000px; /* Set a value larger than your content */
}

.button {
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Make it a circle */
  background-color: #4e4e4e; /* Button background color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 10px;
  margin-top: 10px;
}
